{% extends 'nok_web/base.html' %}
{% load static %}
{% block title %}Жаңылыктар | {{ news_detail.cat }} | {{ news_detail.title }}{% endblock %}



{% block css %}
<link href="{% static 'nok_web/slider.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}




{% block content %}
        <!-- Start: Page Banner -->
        <section class="page-banner news-listing-banner services-banner">
            <div class="container">
                <div class="banner-header"><br>
                    <h2>Жаңылыктар | {{ news_detail.cat }}</h2><br>
                    <span class="underline center"></span>
                    <p class="lead">{{ news_detail.title }}</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'home' %}">Башкы бет</a></li>
                        <li><a href="{% url 'news_list' %}">Жаңылыктар</a></li>
                        <li>{{ news_detail.cat }}</li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <br><br>

                            <!-- Start: Search Section -->

                            <!-- End: Search Section -->


                            <div class="row">
                                <div class="col-md-9 col-md-push-3">
                                    <div class="news-list-detail">
                                        <div class="news-list-box">
                                            <div class="single-news-list">
                                                <div class="social-content">


                                                    <div class="social-share">
                                                        <ul>
                                                            <li><a href="#."><i class="fa fa-comment"></i> -</a></li>
                                                            <li><a href="#."><i class="fa fa-thumbs-o-up"></i> -</a>
                                                            </li>
                                                            <li><a href="#."><i class="fa fa-eye"></i> {{news_detail.count_views}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                    {% block news_social_media %}
                                                    {% include 'nok_web/news/news_social_media.html' %}
                                                    {% endblock %}


                                                </div>
                                                <figure> {% if news_detail.news_slides_img.exists %}
                                                    <div class="cd-slider">
                                                        <ul>
                                                            {% for slider in news_detail.news_slides_img.all %}
                                                            <li>
                                                                <div class="image"
                                                                     style="background-image:url({{ slider.image.url }});"></div>
                                                                <div class="content">
                                                                    <div class="backgrount-slider">
                                                                        <h2 style="color: white; align-text: center;">
                                                                            {{slider.title}}</h2>
                                                                        {% if slider.description %}
                                                                        <hr><p style="color: yellow; font-size:14px;">
                                                                            {{slider.description}}</p>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}

                                                        </ul>
                                                    </div>
                                                    {% else %}
                                                    <img src="{{ news_detail.img.url }}" alt="News_detail_view">
                                                    {% endif %}
                                                </figure>
                                                <div class="content-block">
                                                    <div class="member-info">
                                                        <div class="content_meta_category">
                                                            <span class="arrow-right"></span>
                                                            <a href="{{ news_detail.cat.get_absolute_url }}" rel="category tag">{{ news_detail.cat }}</a>
                                                        </div>
                                                        <ul class="news-event-info">
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-calendar"></i>
                                                                    {{ news_detail.date_pub|date:'d.m.y' }}
                                                                </a>
                                                            </li>
<!--                                                            <li>-->
<!--                                                                <a href="#" target="_blank">-->
<!--                                                                    <i class="fa fa-clock-o"></i>-->
<!--                                                                    10:15 AM - 10:15 PM -->
<!--                                                                </a>-->
<!--                                                            </li>-->
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <i class="fa fa-map-marker"></i>
                                                                   {{ news_detail.location }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <h2>{{ news_detail.title }}</h2>







                                                        <p> {{ news_detail.text|linebreaks }} </p>


                                                        {% if news_detail.news_video_file %}
                                                        <div class="video-wrap">
                                                            <video
                                                                    id="my-video"
                                                                    width="100%" height="50%"
                                                                    style="max-height: 400px;"
                                                                    controls
                                                                    preload="auto">
                                                                <source src="{% url 'news_video' news_detail.id %}"
                                                                        type="video/mp4"/>
                                                                <source src="{% url 'news_video' news_detail.id %}"
                                                                        type="video/webm"/>
                                                            </video>
                                                        </div>
                                                        {% endif %}


                                                        {% if news_detail.youtube_links %}
                                                        <br><br>
                                                        <div class="video-wrap">
                                                            <div class="video-container">
                                                                <iframe
                                                                        src="https://www.youtube.com/embed/{{ news_detail.youtube_links }}?controls=0"
                                                                        allowfullscreen=""
                                                                ></iframe>
                                                            </div>
                                                        </div>
                                                        {% endif %}


                                                        {% if news_detail.facebook_links  %}
                                                        <br><br>
                                                        <div class="fb-wrapper">
                                                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href={{ news_detail.facebook_links }}&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture;" allowFullScreen="true"></iframe>
                                                        </div>
                                                        {% endif %}



                                                        <br><br>




                                                        {% if news_detail.tags.exists %}
                                                        <div class="col-xs-12 col-sm-12 entry-tags">
                                                            <strong><i class="fa fa-tags" aria-hidden="true"></i> Теги:
                                                            </strong>
                                                            <span>
                                                            {% for tags in news_detail.tags.all %}
                                                            <a href="{{ tags.get_absolute_url }}"> #{{ tags }}</a> ,
                                                             {% endfor %}
                                                            </span>
                                                        </div>
                                                        {% endif %}



                                                        <br><br>
                                                    </div>

                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>




                                        {% load news_tags %}
                                        {% popular_news as popular_news %}


                                        {% if popular_news %}
                                        <div class="related-event text-center">
                                            <h2>Популярдуу жаңылыктар</h2>
                                            <span class="underline center">Сайтка күн сайын жаңылыктар жүктөлүп турат</span>
                                            <p class="lead"></p>
                                            <div class="owl-carousel-event">

                                                {% for news in popular_news %}
                                                <div class="single-related-event">
                                                    <figure>
                                                        {% if news.img %}
                                                        <a href="{{ news.get_absolute_url }}"><img src="{{ news.img.url }}" alt="Related event"></a>
                                                        {% endif %}
                                                        <figcaption>
                                                            <header>
                                                                <ul class="news-event-info">
                                                                    <li>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fa fa-calendar"></i>
                                                                            {{ news.date_pub|date:'d.m.y' }}
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fa fa-map-marker"></i>
                                                                            {{ news.location|truncatewords:3 }}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <h4><a href="{{ news.get_absolute_url }}">{{ news.title|truncatewords:8 }}</a></h4>
                                                            </header>
                                                            <p>{{ news.description|truncatewords:10 }}</p>
                                                        </figcaption>
                                                    </figure> 
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>

                                {% block sidebar %}
                                {% include 'nok_web/news/side_bar_news.html' %}
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>




{% endblock %}