{% load news_tags %}
{% all_news_cat as news_cats %}



{% block news_search %}

<div class="filter-box">
            <br>
            <form action="{% url 'search_news' %}" method="get">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Сөз жазып издеңиз" id="search" name="search_news"
                               type="search">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="genre" id="genre" class="form-control">
                            <option>Жанр боюнча издөө</option>
                            {% for g in genre %}
                            <option>{{ g.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="category" id="category" class="form-control">
                            <option>Баардык категориялар</option>
                            {% for category in news_cats %}
                            <option>{{ category }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" type="submit" value="Издөө">
                    </div>
                </div>
            </form>
        </div>

{% endblock %}